PORT=3000
AWS_REGION=us-east-2
POSTS_TABLE_NAME=LostFoundPosts
UPLOADS_BUCKET_NAME=userimages-472143086264-us-east-2-an
FRONTEND_ORIGIN=http://cloudtermproject-env.eba-irp4mvmb.us-east-2.elasticbeanstalk.com/
SES_FROM_EMAIL=anguyen153@my.bcit.ca
SES_REGION=us-east-2

# Optional: use this if image files are served through CloudFront or a custom S3 URL.
# UPLOADS_PUBLIC_BASE_URL=https://your-lost-found-uploads-bucket.s3.us-west-2.amazonaws.com
